<h2>Add Student</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Student</button>
</form>

<a href="{% url 'student_list' %}">Back</a>

<form method="POST">
{% csrf_token %}

<input type="text" name="username" placeholder="Username" required>

<input type="text" name="roll_number" placeholder="Roll Number" required>

<input type="text" name="class_name" placeholder="Class" required>

<input type="text" name="phone" placeholder="Phone" required>

<button type="submit" class="btn btn-success">Create Student</button>

</form>