{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2>📊 Attendance Analytics</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Attendance %</th>
            </tr>
        </thead>
        <tbody>
            {% for item in analytics %}
            <tr>
                <td>{{ item.student.user.username }}</td>
                <td>{{ item.percentage }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}